*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body,html{
    height: 100%;
    width: 100%;
    background-color: rgb(84, 84, 216);
    display: flex;
    justify-content: center;
    align-items: center;
}
#jogo{
    width: 50%;
    aspect-ratio: 1/1;
    background: gray;
    border-radius: 50%;
    border: 10px solid black;
    overflow: hidden;
    position: relative;
}

.clicavel{
    height: 50%;
    aspect-ratio: 1/1;
    position: absolute;
    border-right: 5px solid black;
    border-bottom: 5px solid black;
}
.c1{
    transform: translate(-50% -50%);
    background: green;
}
.c2{
    transform: translate(100%, -0%) rotate(90deg); 
    background: rgb(110, 18, 18);
}
.c3{
    transform: translate(0%, 100%) rotate(-90deg); 
    background:rgb(18, 18, 107);
}
.c4{
    transform: translate(100%, 100%) rotate(180deg); 
    background: rgb(105, 105, 16);
}

#controlador{
    height: 45%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    background: #909190;
    position: relative;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3%;
}
#play{
    background: white;
    border: none;
    padding: 1rem;
    width: 40%;
    border-radius: 0.5rem;
    cursor: pointer;
}
#contador{
    background: white;
    width: 40%;
    aspect-ratio: 2 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 500px){
	#jogo{
  	 width: 100%;
   	 
	}
	
}
